.u-mt2 { margin-top: 20px; }
.u-mt3 { margin-top: 30px; }
.u-mt4 { margin-top: 40px; }

.u-mb2 { margin-bottom: 20px; }
.u-mb3 { margin-bottom: 30px; }
.u-mb4 { margin-bottom: 40px; }

.u-h-center {
	margin-left: auto;
	margin-right: auto;
}

.u-mw45 {
	max-width: 45em;
}
